


<body>

  {% extends "base.html" %}
  {% block title %}Index{% endblock %}
  {% block head %}
  {{ super() }}
  <style type="text/css">
      .important {
          color: #336699;
      }
  </style>
  {% endblock %}
  
  
  {% block nav %} {{ super() }}{% endblock %}
  {% block content %}
  <div >
    <section class="section" style="width: 80%;">
        <form class="box" action="{{ url_for('auth.login') }}" method=POST>
            <div class="field">
                <label class="label">用户名</label>
                <div class="control">
                    <input class="input" type="text" name='uname' placeholder="please input username"/>
                </div>
              </div>
            
              <div class="field">
                <label class="label">密码</label>
                <div class="control">
                    <input class="input" type="password" name='psw' placeholder="please input password"/>
                </div>
              </div>

              <div class="field">
                <label class="label">微博ID</label>
                <div class="control">
                    <input class="input" type="text" name='uid' placeholder="please input uid"/>
                </div>
              </div>


          <p>read <a href="#">Terms&Privacy</a></p>
          <button class='button is-primary' type="submit">Register</button>

          <div class="view_buttom">
              <p>already have a account?<a href="login">login</a></p>
          </div>
       </form>
       </section>


  </div>
  {% endblock %}
  {% block card %}
  {{ super() }}
  {% endblock %}
  {% block footer %} {{ super() }}{% endblock %}


</body>