{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}


{% block nav %} {{ super() }}{% endblock %}

{% block content %}
<div class="box">
<div class="content is-large">
    <p>本网站用于对微博爬虫的展示。Github地址：<a href="https://github.com/lixiang0/weibo">点击链接</a></p>
<p>欢迎关注公众号：悠然AI</p>
<p> 联系邮箱：lingyunzi09#gmail.com</p>
<p>抓取博文总{{ dicts['count'] }}条,博主{{ dicts['authors'] }}个</p>
<P>当前爬取状态：</P>
{% for state in dicts['states'] %}
<p>{{ state['name'] }}{{ state['update_time'] }}</p>
{% endfor %}
<p>Made By <img src="https://github.githubassets.com/favicon.ico"> <a
        href="https://blog.youran.ai">Rubenxiao</a></p>
    </div></div>


{% endblock %}

<!-- {% block card0 %} {{ super() }}{% endblock %}
{% block card %} {{ super() }}{% endblock %}
{% block footer %} {{ super() }}{% endblock %} -->