<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>个人主页</title>
  <link rel="stylesheet" href="/static/bulma.min.css">
</head>

<body>

  {% block nav %}
  <!-- 最上的导航页 -->
  <div class='container'>
    {% include 'nav.html' %}
  </div>
  {% endblock %}


  <div class="container is-widescreen ">
    <div class="columns  ">
      <div class="column is-2">
        <!-- 左侧的导航页 -->
        {% block menu %}
        {% include 'menu.html' %}
        {% endblock %}
      </div>

      <div class="column  is-6">

        <div class='block'>
          <!-- 博文内容 -->
          <div id="content">
            {% block content %}
            {% for blog in dicts['blogs'] %}
            {% include 'blog/item.html' %}
            {% else %}
            暂时没有内容
            {% endfor %}
            {% include 'blog/pageniation.html' %}
            {% endblock %}
          </div>
        </div>
      </div>

      <div class="column is-4">

        <!-- 用户基本信息 -->
        {% block userinfo %}
        {% include 'userinfo.html' %}
        {% endblock %}
    
        <!-- 热搜 -->
        {% block resou %}
        {% include 'resou.html' %}
        {% endblock %}
        <!-- 推荐 -->
        {% block tuijian %}
        {% include 'tuijian.html' %}
        {% endblock %}


      </div>
    </div>
  </div>

</body>

</html>