
{% extends "base.html" %}
{% block title %}警告{% endblock %}
{% block head %}
head

{% endblock %}


{% block nav %}
<!-- nav -->

{% endblock %}

{% block menu %}

<!-- menu -->
{% endblock %}


{% block content1 %}

<!-- content1 -->

{% endblock %}

{% block content %}
<article class="message is-warning">
    <div class="message-header">
      <p>Warning</p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      请不要重复留言！每10分钟留言一次！
    </div>
  </article>

{% endblock %}

{% block resou %}

<!-- resou -->

{% endblock %}


{% block tuijian %}

<!-- tuijian -->

{% endblock %}

{% block footer %}

<!-- footer -->

{% endblock %}