<block>
    <aside class="card-content">
      <!-- <p class="subtitle  is-5">
        首页
      </p> -->
      <ul class="menu-list">
        <!-- <li> -->
        <div class="icon-text">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
          <span><a href="/u">Home</a></span>
        </div>
        <!-- </li> -->
        <li>
          <div class="icon-text">
            <span class="icon has-text-info">
              <i class="fas fa-info-circle"></i>
            </span>
            <span><a href="/r/blog/10">Explore</a></span>
          </div>
        </li>
        <li>
          <div class="icon-text">
            <span class="icon has-text-info">
              <i class="fas fa-info-circle"></i>
            </span>
            <span><a>Notification</a></span>
          </div>
        </li>
        <li>
          <div class="icon-text">
            <span class="icon has-text-info">
              <i class="fas fa-info-circle"></i>
            </span>
            <span><a>Message</a></span>
          </div>
        </li>
        <li>
          <div class="icon-text">
            <span class="icon has-text-info">
              <i class="fas fa-info-circle"></i>
            </span>
            <span><a href="/fav">Bookmark</a></span>
          </div>
        </li>
        <li>
          <div class="icon-text">
            <span class="icon has-text-info">
              <i class="fas fa-info-circle"></i>
            </span>
            <span><a href="/f">Follow Lists</a></span>
          </div>
        </li>
        <li>
          <div class="icon-text">
            <span class="icon has-text-info">
              <i class="fas fa-info-circle"></i>
            </span>
            <span><a>Profile</a></span>
          </div>
        </li>
        <!-- <li>
          <div class="icon-text">
            <span class="icon has-text-info">
              <i class="fas fa-info-circle"></i>
            </span>
            <span><a>More</a></span>
          </div>
        </li> -->
        <li>
          <nav class="navbar" role="navigation" aria-label="dropdown navigation">
            <div class="icon-text">
              <span class="icon has-text-info">
                <i class="fas fa-info-circle"></i>
              </span>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  More
                </a>

                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    Setting
                  </a>
                  <a class="navbar-item" href="/about">
                    About
                  </a>
                  <hr class="navbar-divider">
                  <div class="navbar-item">
                    Version 0.2.0
                  </div>
                </div>
              </div>
          </nav>
        </li>
      </ul>

    </aside>
  </block>