<nav class='navbar' role="navigation ">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://youran.tech">
      <!-- <img src="https://avatars.githubusercontent.com/u/8615600?s=400&u=65367ff26f5c86ec65aabdf4d3541aa74a3f91d3&v=4" alt="youran AI" width="112" height="28"> -->
      <figure class="image is-64x64">
        <img src="https://avatars.githubusercontent.com/u/8615600?s=400&u=65367ff26f5c86ec65aabdf4d3541aa74a3f91d3&v=4"  alt="youran AI">
      </figure>
    </a>

  </div>

  <div class="navbar-end">
    <div class='navbar-item'>

      <form action="/sou" method="POST">
      <div class="field has-addons">
        <div class="control" >
          {% if not value %}
          <input class="input" id="srText" name='tkey' type="text" placeholder="Find a repository">
          {% else %}
          <input class="input" id="srText" name='tkey' type="text" placeholder="Find a repository" value="{{ value }}">
          {% endif %}
      </div>
        <p class="control">
          <button class="button">
            Search
          </button>
        </p>
      </div>
    </form>
    </div>
    <div class="navbar-item">

      {% if session['uid'] %}
      <a class="button is-primary" href="/auth/logout">
          <strong>注销</strong>
        </a>
      {% else %}
      <a class="button is-primary" href="/auth/login">
          <strong>登录</strong>
        </a>
        <a class="button is-light" href="/auth/register">
          <strong>注册</strong>
        </a>

      {% endif %}


      <!-- <div class="buttons">
        <a class="button is-primary">
          <strong>Sign up</strong>
        </a>
        <a class="button is-light">
          Log in
        </a>
      </div> -->
    </div>
  </div>

</nav>